{% extends 'DondrekielAppBundle::layout.html.twig' %}

{% block title %}Dondrekiel 2018 - Kontakt{% endblock %}

{% block body %}
    <div class="card text-white bg-success mb-3">
        <h5 class="card-header">Kontakt zur Spielleitung</h5>
        <div class="card-body">
            <p class="card-text">Im Notfall bitte immer zuerst die <strong>112</strong> anrufen!</p>
            <p class="card-text">Danach dann bitte auch die Spielleitung kontaktieren!</p>


            <p class="card-text">Ihr erreicht die Spielleitung die ganze Zeit über folgende Möglichkeiten:</p>

            <p class="card-text"><strong>Telefon</strong>: 0173 / 708 9506 oder 0160 / 882 9950</p>

            <p class="card-text"><strong>WhatsApp</strong>: <a href="https://wa.me/01737089506">0173 / 708 9506</a></p>
            <p class="card-text"><strong>Emai</strong>l: <a href="mailto:info@dondrekiel.de">info@dondrekiel.de</a></p>
            <p class="card-text"><strong>Facebook</strong>: <a href="https://www.facebook.com/dondrekiel"
                                                               target="_blank">https://www.facebook.com/dondrekiel</a>
            </p>
            <p class="card-text"><strong>Instagram</strong>: <a href="https://www.instagram.com/dondrekiel"
                                                                target="_blank">https://www.instagram.com/dondrekiel</a>
            </p>
        </div>

    </div>
    </div>
{% endblock %}
