{% extends 'DondrekielAppBundle::layout.html.twig' %}

{% block title %}Dondrekiel 2018 - Anleitung{% endblock %}

{% block body %}

    <div class="card text-white bg-info mb-3">
        <h5 class="card-header">Anleitung Dondrekiel App</h5>
        <div class="card-body">
            <p class="card-text">Die App funktioniert eigentlich ganz einfach, im Grunde wie die "Karte des Rumtreibers"
                in Harry Potter!</p>
            <p class="card-text">Hier könnt ihr sehen wo die anderen Teams sind. So seht ihr, wo gerade viel los ist und
                weniger.
                Somit könnt ihr Stationen ansteuern, die gerade frei sind und vermeidet so Wartezeiten!</p>

            <h5 class="card-title">Spielplan</h5>
            <p class="card-text">Ihr seht den Spielplan und könnt mit einem Finger die Karte verschieben! Mit zwei
                Fingern vergrößert oder verkleinert ihr die Karte.</p>

            <h5 class="card-title">Fähnchen</h5>
            <p class="card-text">Das <strong>rote Fähnchen</strong> seid ihr!</p>
            <p class="card-text">Die <strong>grünen Fähnchen</strong> sind die anderen Teams! Wenn alles funktioniert
                wie es soll, bewegen sich die Fähnchen auf der Karte.</p>
            <p class="card-text">Die <strong>blauen Fähnchen</strong> sind die Stationen. Wenn ihr auf eine Station
                tippt erscheint ein Fenster mit Infos zu der Station. Einfach neben das Fenster klicken und ihr seid
                wieder auf der Karte.</p>

            <h5 class="card-title">Nachrichten</h5>
            <p class="card-text">Die Spielleitung schickt euch ab und zu Nachrichten, diese erscheinen dann als Fenster.
                Wenn ihr mal eine Nachricht verpasst haben solltet, guckt unter "Nachrichten" nach, da sind alle
                Nachrichten aufgelistet!</p>

            <h5 class="card-title">Probleme</h5>
            <p class="card-text">Wenn ihr Probleme mit der App habt, ladet erstmal das Fenster neu, vielleicht geht es
                ja dann! Ansonsten meldet euch bei der Spielleitung.</p>
            <p class="card-text">Für alle Fälle habt ihr ja den Papierplan!</p>

        </div>
    </div>


    <div class="card text-white bg-info mb-3">
        <h5 class="card-header">Spielregeln Dondrekiel</h5>
        <div class="card-body">

            <p class="card-text">Im folgenden nun die Spielregeln für Dondrekiel. Bitte lest die Spielregeln durch und
                beachtet diese!</p>

            <h5 class="card-title">Allgemein</h5>

            <p class="card-text">Diese Regeln sind für alle Teilnehmer bindend.</p>

            <p class="card-text">Die Teilnahme am Spiel erfolgt freiwillig und auf eigene Gefahr. Der Sendenhorster
                Georgspfadfinder e.V. als Veranstalter schließt jegliche Haftung aus, soweit nicht Vorsatz oder grobe
                Fahrlässigkeit vorliegt. Bei Verletzung des Körpers oder der Gesundheit gilt die gesetzliche
                Haftung.</p>

            <p class="card-text">Anweisungen von Forst-, Polizei- oder Ordnungsbeamten sowie Grund- und Waldbesitzern
                und des Veranstalters bzw. dessen Erfüllungsgehilfen ist Folge zu leisten.
                Teilnehmer</p>

            <p class="card-text">Teilnehmen dürfen Teams von 5-7 Personen.</p>

            <p class="card-text">Das Mindestalter beträgt 14 Jahren, wobei mindestens eine Person im Team über 18 Jahre
                alt sein muss. Bei minderjährigen Teilnehmern ist der volljährige Teilnehmer als Leiter des Teams
                verantwortlich für diese.</p>

            <p class="card-text">In Absprache mit dem Veranstalter ist es möglich, dass eine erwachsene Person über 25
                Jahre ein minderjähriges Team begleitet. Diese Person gilt dann jedoch nicht als Teilnehmer.</p>

            <p class="card-text">Bei minderjährigen Teilnehmern ist eine Einverständniserklärung der
                Erziehungsberechtigten erforderlich und vom Leiter des Teams einzuholen.</p>

            <p class="card-text">Einzelpersonen werden durch die Spielleitung zu Teams von je 7 Teilnehmern
                zusammengefasst.</p>

            <p class="card-text">Das Ziel muss von mindestens 4 Personen erreicht werden, um eine Wertung zu
                erzielen.</p>

            <p class="card-text">Ausnahmen werden im Einzelfall durch die Veranstalter entschieden.</p>


            <h5 class="card-title">Anmeldung</h5>

            <p class="card-text">Die Registrierung der Teams erfolgt mittels Anmeldeformular auf der Homepage
                https://dondrekiel.de​. Vor Spielbeginn melden sich alle Teams bei der Spielleitung auf dem Rathausplatz
                und schließen die Anmeldung ab. Dazu sind für jeden Teilnehmer folgende Unterlagen erforderlich

                5€ Startgeld,
                der unterschriebene Haftungsausschluß,
                die unterschriebene Datenschutzerklärung,
                bei Minderjährigen die unterschriebene Einverständniserklärung der Eltern.</p>

            <p class="card-text">Liegen alle Unterlagen der Teilnehmer vor, kann das Team starten.</p>
            <h5 class="card-title">Spielablauf</h5>

            <p class="card-text">Im gesamten Stadtgebiet sind Stationen verteilt. Jedes Team kann nun während der
                Spielzeit die Stationen in beliebiger Reihenfolge aufsuchen und dort jeweils maximal 100 Punkte
                erspielen.</p>

            <h5 class="card-title">Spielzeit</h5>

            <p class="card-text">Das Spiel beginnt am Freitag um 16:00 Uhr und endet 20 Stunden später am Samstag um
                12:00 Uhr.</p>


            <h5 class="card-title">Fortbewegung</h5>

            <p class="card-text">Die Teams dürfen sich ausschließlich zu Fuß oder mit dem Fahrrad zwischen den
                Stationen bewegen. Alle Teilnehmer verpflichten sich verkehrstüchtige Fahrräder zu nehmen und sich an
                die Straßenverkehrsordnung (StVO) zu halten.</p>


            <h5 class="card-title">Stationen</h5>

            <p class="card-text">An jeder Station können maximal 100 Punkte erspielt werden. Die für die Punkte zu
                erfüllende Aufgabe wird jeweils an der Station erläutert. Es gelten immer die dort erläuterten Regeln
                für die Aufgabe. Die Verteilung der Punkte obliegt der Stationsleitung und ist nicht anfechtbar.</p>

            <p class="card-text">Handelt es sich um eine Aufgabe, an der sich jeder Teilnehmer versuchen kann, werden
                immer nur die besten 5 eines Teams gewertet.</p>

            <p class="card-text">Nicht alle Stationen sind betreut. An diesen Stationen findet sich eine kurze Anleitung
                zu dem jeweiligen Spiel.</p>


            <h5 class="card-title">Verhalten der Teilnehmer</h5>

            <p class="card-text">Auf andere Menschen ist Rücksicht zu nehmen. Die Teilnehmer genießen kein Vorrecht vor
                Wanderern, Erholungssuchenden, forstwirtschaftlichen Fahrzeugen oder
                anderen rechtmäßigen Benutzern der Wege und Straßen. Auf die Naturschutzgebiete ist besonders Rücksicht
                zu nehmen und den Anweisungen auf Schildern Folge zu leisten.</p>

            <p class="card-text">Die Teilnehmer an der Veranstaltung haben die Vorschriften der Straßenverkehrsordnung
                (StVO) einzuhalten. Behinderungen des Straßenverkehrs sind zu vermeiden.</p>

            <p class="card-text">Jeglicher Abfall, der im Zusammenhang mit Dondrekiel entsteht, ist fachgerecht zu
                entsorgen. Es sind ausschließlich öffentliche Straßen, Wald- und Feldwege zu nutzen. Es darf nicht
                querfeldein gelaufen werden. Wege, die aufgrund von Jagdbetrieb, Wildschutz, Holzeinschlag oder aus
                sonstigen Gründen gesperrt sind, dürfen nicht betreten werden.</p>

            <p class="card-text">In Waldgebieten und in einem Abstand von weniger als 100 m vom Waldrand besteht
                striktes Rauchverbot und Verbot von offenem Feuer. Verstöße können von den Behörden geahndet werden.</p>

            <p class="card-text">Das Betreten von erkennbaren, z.B. durch Zäune oder Mauern begrenzten
                Privatgrundstücken ist nicht erlaubt. Übermäßige Lärmbelästigungen (z.B. laute Musik, lautes Rufen) sind
                während des gesamten Spiels zu vermeiden.</p>

            <p class="card-text"> Insgesamt ist in besonderem Maße Rücksicht auf Pflanzen und Tiere zu nehmen.</p>

            <p class="card-text">Der Genuss von Alkohol während des Spiels ist nicht erwünscht. Die Stationen können die
                Teilnahme an der jeweiligen Aufgabe verweigern, sollte der Zustand des Teilnehmers eine Gefahr für sich
                oder andere darstellen. Der Veranstalter ist berechtigt alkoholisierte Teilnehmer zu
                disqualifizieren.</p>
            <h5 class="card-title">Verpflegung</h5>

            <p class="card-text">Jedes Team ist selbst für die Verpflegung verantwortlich. Trinkwasser wird an allen
                Stationen vorgehalten. An einigen Stationen wird gegen ein geringes Entgelt Essen
                angeboten.</p>

            <h5 class="card-title">Spielende</h5>

            <p class="card-text">Das Spiel endet am Samstag pünktlich um 12:00 Uhr. Es zählen nur noch Punkte von
                Teams, die sich an einer Station für das jeweilige Spiel angemeldet haben. Ab 12.30 Uhr gelten keine
                Punkte mehr.</p>


        </div>
    </div>
{% endblock %}
