{% extends 'DondrekielBundle::layout.html.twig' %}

{% block title %}Dondrekiel 2018{% endblock %}

{% block body %}
    <div id="map">
        {% image '@DondrekielBundle/Resources/public/images/placeholder.png' %}
        <img id="static-map" src="{{ asset_url }}" alt="Example"/>
        {% endimage %}
    </div>
{% endblock %}
