{% extends 'base.html.twig' %}

{% block title %}Dondrekiel 2025{% endblock %}

{% block body %}
    <div class="container-fluid" id="map-container">

        <div id="station-map"></div>

        <div class="modal-body">
            <div class="card-content clearfix">
                {#{ team.username }} // {{ team.name }#}
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header card-header-title">
                    <h4 class="modal-title card-element-title" id="modalHeader"></h4>
                </div>
                <div class="modal-body">
                    <div class="card-content clearfix" id="modalContent">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
