<!doctype html>
<html lang="de">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Dondrekiel App{% endblock %}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/iconfont/material-icons.css">
    <link rel="stylesheet" href="/js/leaflet/leaflet.css">
    <link rel="stylesheet" href="/css/dondrekiel.css">
    </head>
<body>

{{ include('parts/header.html.twig') }}


<main role="main" class="vh-100 container-fluid">
    <div class="container-fluid map-container fill">
        {% block body %}{% endblock %}
    </div>
</main>

{{ include('parts/footer.html.twig') }}


{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="/js/leaflet/leaflet.js"></script>
    <script src="/js/dondrekiel.js"></script>
{% endblock %}
</body>
</html>
